@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
   
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(192, 92, 92);

}

.nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(214, 197, 197);
  justify-content: space-around;
  align-content: center;
  margin-top: 0vw;
  width: 100%;
  height: 4vw;
  box-sizing: border-box;
  padding: 1.4vw 2vw 1vw 74vw;
  color: black;
  .navLink {
  
    list-style-type: none;
    font-size: 0.9rem;
    box-sizing: border-box;

    a {
      text-decoration: none;
      color: black;
      list-style-type: none;
      text-transform: uppercase;
      font-family: helvetica;
      box-sizing:border-box;
    }
    a:hover {
       color: rgb(192, 92, 92);
    }
  }

}


/*.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  justify-items: center;
  svg {
    height: 100%;
  }
}*/

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

.loginForm {
  margin: 10vw 5vw 10vw 5vw;
  padding: 1vw 3vw 1vw 3vw;
  display: inline-block;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 35vw;
  height: 35vw;
  box-sizing: border-box;
  
  
  form {
    padding: 8vw 3vw 8vw 3vw;
    background-color: rgb(214, 197, 197);
    display: inline-block;
    border-radius: 6px;
  }

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: center;
    padding: 4px 36px 4px 40px;
    
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}
